<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Youtube Playlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F7985231E9BEEA300D923DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7985391E9BEEA400D923DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7985441E9BEEA400D923DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
